<div class="container-fluid default-font">
    <div class="row" style="padding-top:50px;">
        <div class="col-sm-1"></div>
        <div class="pageheader col-sm-10 col-xs-12">
            <div class="col-sm-3 col-xs-12 section-heading" style="padding-left: 0px;"><h2><span>Game Rules</span></h2></div>
            <div class="col-sm-9 col-xs-12"></div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-xs-12">
            <table class="table">
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">You need to build your team by selecting 11 players for that particular day's match(s)</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">You will get the budget of 45 Cr to make your team</td>
                </tr>
                <!--<tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">Maximum of 4 foreign players are allowed to be part of your team</td>
                </tr>-->
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">Minimum of 1 wicket keeper is required to be part of your team</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">Minimum of 5 players with bowling skills are required to be part of your team. All-rounders will be considered as a player with bowling skills</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">Your team will earn points based on performance of players selected in your team. Refer point system details given below</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">Team selection window closes before 1 hour of start of that day's match</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="pageheader col-sm-10 col-xs-12">
            <div class="col-sm-3 col-xs-12 section-heading" style="padding-left: 0px;"><h2><span>Point System</span></h2></div>
            <div class="col-sm-9 col-xs-12"></div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="padding-bottom:20px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-xs-12">
            <table class="table">
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">5 points for each run</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">70 points for each wicket</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">50 points for each catch, runout and stumping. Both players involved in runout will get 50 points</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">100 points bonus if a player scores 100 runs or more. And 50 points bonus if a player scores between 50 and 100 runs</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">100 points bonus if a player takes 5 wickets or more. And 50 points bonus if a player takes between 3 and 5 wickets</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">200 points for Man of the match</td>
                </tr>
                <tr>
                    <td class="no-top-border"><span class="glyphicon glyphicon-hand-right" style="font-size:20px;"></span></td>
                    <td class="no-top-border">Points scored by captain player will be multiplied by 2</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>